{% load static %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog"
         aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">My Profile Info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" class="form" role="form" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{ profile_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"
                                data-bs-toggle="modal"
                                data-bs-target="#">SAVE CHANGES
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}